.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: RoyalBlue;
}

body {
    background-image: url('https://media1.tenor.com/images/51b56ebf977aaa92057ff95513f30214/tenor.gif?itemid=13945789');
}

#mainBox {
    align-content: center;
    background-color: whitesmoke;
}