.btn {
    background-color: rgb(75, 75, 75);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.logoImg {
    height: 12px;
    width: 12px;
}

.btn:hover {
    background-color: black;
}

body {
    background-image: url('https://media1.tenor.com/images/51b56ebf977aaa92057ff95513f30214/tenor.gif?itemid=13945789');
    display: flex;
}

#wholeBox {
    align-content: center;
    background-color: whitesmoke;
    opacity: 0.5;
    width: 99%;
    height: 99%;
    display: flex;
}

#mainHeading {
    float: right;
}